{{$path := "/uploads/" }}
{{ $alt := .PlainText | safeHTML }}
{{ $caption := "" }}
{{ with .Title }}
{{ $caption = . | safeHTML }}
{{ end }}
{{$image := (site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .Destination)}}

<div class="wrapper">
<figure class="mediabox">
  {{with $image }}
  {{with . }}
  {{$lqip := (.Resize "40x Gaussian")}}
  {{ $src1x := (.Resize "500x Center") }}
  {{ $src2x := (.Resize "1280x Center") }}
  <img 
  data-sizes="auto" 
  data-srcset="{{$src1x.RelPermalink}} 1x, {{$src2x.RelPermalink}} 2x" 
  data-lowsrc="{{$lqip.RelPermalink}}" 
  class="lazyload mediabox-img"
  alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
  >
  {{end}}
  {{end}}

</figure>
{{ with $caption }}
<figcaption class="mb-4"><strong class="font-bold uppercase">Caption:</strong> {{ . | markdownify }}</figcaption>
{{ end }}
</div>