{{$url := site.Params.cloudinaryURL }}
{{$path := site.Params.cloudinaryPath }}
{{ $alt := .PlainText | safeHTML }}
{{ $caption := "" }}
{{ with .Title }}
{{ $caption = . | safeHTML }}
{{ end }}

<figure>
    <img 
    data-src="{{ $url }}{{ .Destination | safeURL }}"
    src="{{ $url }}q_1,e_blur:1000/{{ .Destination | safeURL }}" 

    class="image lazyload"
    alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}">
    {{ with $caption }}
    <figcaption class="mb-4"><strong class="font-bold uppercase">Caption:</strong> {{ . | markdownify }} {{$path}}</figcaption>
    {{ end }}
</figure>