<html>

<head>

<!-- Include quicklink from dist -->
<script src="https://unpkg.com/quicklink@2.0.0-alpha/dist/quicklink.umd.js"></script>
<!-- Initialize (you can do this whenever you want) -->
<script>
window.addEventListener('load', () =>{
  quicklink.listen();
});
</script>

  {{ $js := resources.Get "output/index.js" }}
  {{ with $js }}
  {{ $secureJS := . | resources.Fingerprint }}
  <script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"
    crossorigin="anonymous" defer></script>
  {{ end }}

  {{ if .Site.IsServer }}

  {{ $css := resources.Get "output/index.css"  }}
  {{ with $css }}
  {{ $securecss := . | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $securecss.Permalink | relURL  }}" integrity="{{ $securecss.Data.Integrity }}"
    crossorigin="anonymous">
  {{ end }}

  {{ else }}


  {{ $css := resources.Get "output/index.css" | minify }}
  {{ with $css }}
  {{ $securecss := . | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $securecss.Permalink | relURL  }}" integrity="{{ $securecss.Data.Integrity }}"
    crossorigin="anonymous">
  {{ end }}

  {{ end }}


</head>

<body>
  {{ block "main" . }}{{ end }}
</body>

</html>