<html>

<head>

  {{/*  We only want to run this process if there's a JS file  */}}
  {{ if (fileExists "./assets/output/index.js") }}
  {{ $js := resources.Get "./assets/output/index.js" }}
  {{ with $js }}
  {{ $secureJS := . | resources.Fingerprint }}
  <script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"
    crossorigin="anonymous" defer></script>
  {{ end }}
  {{ end }}

  {{ if .Site.IsServer }}

  {{ $css := resources.Get "output/index.css"  }}
  {{ with $css }}
  {{ $securecss := . | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $securecss.Permalink | relURL  }}" integrity="{{ $securecss.Data.Integrity }}"
    crossorigin="anonymous">
  {{ end }}

  {{ else }}


  {{ $css := resources.Get "output/index.css" | minify }}
  {{ with $css }}
  {{ $securecss := . | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $securecss.Permalink | relURL  }}" integrity="{{ $securecss.Data.Integrity }}"
    crossorigin="anonymous">
  {{ end }}

  {{ end }}


</head>

<body>
  {{ block "main" . }}{{ end }}
</body>

</html>