{{ define "main" }}

<section class="container mx-auto flex flex-wrap px-12 md:px-32">
    {{ partial "sidebar.html" . }}
    <div class="content w-full md:w-3/4 order-1 md:order-2">
        <article class="my-16">
            <h1 class="text-5xl font-bold mb-6 leading-tight">{{.Title}}</h1>
            <span class="text-gray-600">{{.PublishDate.Format "January 2, 2006"}}</span>
            <div class="leading-loose">
                {{.Content}}
                <div class="sharing my-6">
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{.Permalink | safeURL}}"
                        class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center no-underline">
                        <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" /></svg>
                        <span>Share on LinkedIn</span>
                    </a>
                </div>
        </article>
    </div>

</section>




{{ end }}