{{ define "main" }} {{ $postsInCategory := where .Pages "Section" "posts" }}

<h1 class="text-4xl">
    Viewing {{ len $postsInCategory }} {{ cond (eq (len $postsInCategory) 1) "post" "posts" }} categorized under {{ .Title }}
</h1>

{{ range $postsInCategory }} {{ if ne .File.LogicalName "_index.md" }}
<article class="space-y-2">
  <h2 class="text-3xl font-bold"><a href="{{.Permalink}}">{{.Title}}</a></h2>
  {{with .PublishDate }}<p class="text-gray-600"
    >{{.Format "January 2, 2006"}}</p
  >{{end}}

  <div class="leading-loose">{{.Summary}}</div>
</article>
{{ end }} {{ end }} {{ end }}
