{{ define "main" }}
    <h1 class="text-4xl mb-6">Posts categorized under {{ .Title }}</h1>
    {{range where .Pages "Section" "posts" }}
    {{ if ne .File.LogicalName "_index.md" }}
    <article class="mb-16">
        <h2 class="text-3xl font-bold"><a href="{{.Permalink}}">{{.Title}}</a></h2>
        {{with .PublishDate }}<span class="text-gray-600">{{.Format "January 2, 2006"}}</span>{{end}}

        <div class="leading-loose">
            {{.Summary}}
        </div>
    </article>
    {{ end }}
    {{end}}


{{ end }}
