/* To use Tailwind with ParcelJS, call the Tailwind files like this. Otherwise, use imports */
/* @tailwind preflight;
@tailwind components;
@tailwind utilities;  */

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply underline text-pejRed;
}

.content p {
  @apply my-8;
}

.blur-up {
	-webkit-filter: blur(5px);
	filter: blur(5px);
	transition: filter 3000ms 500ms, -webkit-filter 3000ms 500ms;
}
.blur-up .lazyloaded {
	-webkit-filter: blur(0);
	filter: blur(0);
}


/* purgecss start ignore */

/* purgecss end ignore */
