<title itemprop="name">{{if .IsHome }} {{ .Site.Title }} {{else}} {{ .Title }} | {{ .Site.Title }} {{end}}</title>
<meta property="og:title"
    content="{{if .IsHome }} {{ .Site.Title }} {{else}} {{ .Title }} | {{ .Site.Title }} {{end}}" />
<meta name="twitter:title"
    content="{{if .IsHome }} {{ .Site.Title }} {{else}} {{ .Title }} | {{ .Site.Title }} {{end}}" />
<meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
<meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />

<meta name="description" content="{{ .Params.description }}" />
<meta itemprop="description" content="{{ .Params.description }}" />
<meta property="og:description" content="{{ .Params.description }}" />
<meta name="twitter:description" content="{{ .Params.description }}" />

<base href="{{ .Permalink }}">
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
<meta name="url" content="{{ .Permalink }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta property="og:url" content="{{ .Permalink }}" />

<meta property="og:locale" content="{{ .Language.Lang }}">
<meta name="language" content="{{ .Language.LanguageName }}">

<meta property="og:updated_time" content={{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />

{{if .IsHome }}
{{with .Site.Params.seoImage}}
<meta property="og:image" content="{{.}}">
<meta name="twitter:image" content="{{.}}">
<meta name="twitter:card" content="summary_large_image">
{{end}}
{{else}}
{{$urlTitle := $.Title}}
<meta property="og:image" content="{{$.Site.BaseURL}}/og?title={{$urlTitle}}">
<meta name="twitter:image" content="{{$.Site.BaseURL}}/og?title={{$urlTitle}}">
<meta name="twitter:card" content="summary_large_image">
{{end}}


<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />