<div class="sidebar relative w-full py-16 md:w-1/4 md:pr-16 order-3 md:order-1">
    <div class="text-sm">
        {{partial "header.html" . }}
        {{with .Site.GetPage "sidebar.md"}}
        <h2 class="text-4xl leading-tight my-12 font-bold">{{.Params.Title | safeHTML}}</h2>

        {{with .Params.blogCurator}}
        <div class="my-2">
        <p class="font-bold text-gray-500 uppercase my-0">Blog curator</p>
        <img src="{{$.Site.Params.cloudinaryURL}}/c_thumb,g_face{{.picture}}" alt="">
        <h3 class="text-2xl font-bold">{{.name}}</h3>
        <p>{{.description}}</p>
        {{range .links}}
        <a class="pl-2" href="{{.link}}">{{.title}}</a>
        {{end}}
        {{end}}
        </div>

        {{with .Params.BlogInfo}}
        <div class="my-2">
        <p class="font-bold text-gray-500 uppercase my-0">About this blog</p>
        {{.}}
        {{end}}
        </div>
        {{with .Params.sidebarLinks}}
        <div class="my-2">
            <ul>
                <li class="font-bold text-gray-500 uppercase">Useful links</li>
                {{range . }}
                <li class="py-1">
                    <a class="no-underline hover:underline" href="{{.url}}">{{.title}}</a>
                </li>
                {{end}}
            </ul>
        </div>
        {{end}}
        {{end}}
    </div>
</div>