<div class="sidebar col-span-4 lg:col-span-1 order-3 lg:order-1">
    <div class="text-sm">
        {{with .Site.GetPage "sidebar.md"}}
        <h2 class="text-4xl leading-tight font-bold"><a class="text-black no-underline"
                href="{{.Site.BaseURL}}">{{.Params.Title | safeHTML}}</a></h2>
        {{with .Params.blogCurator}}
        <div class="my-6">
            <p class="font-bold text-gray-500 uppercase my-0 mb-4">Blog curator</p>
            <div class="mb-4">
                <img class="h-32 w-32 rounded-full border-2 border-pejGreen"
                    src="{{$.Site.Params.cloudinaryURL}}/w_200,h_200,c_thumb,g_face,z_0.6{{.picture}}" alt="">
            </div>
            <h3 class="text-lg font-bold mb-4">{{.name}}</h3>
            <p>{{.description}}</p>
            {{range .links}}
            <a class="pr-1" href="{{.link}}">{{.title}}</a>
            {{end}}
            {{end}}
        </div>
        {{with .Site.Params.netlifyFetch }}
        <div class="my-6">
            <p class="font-bold text-gray-500 uppercase my-0 mb-4">Blog visitors</p>
            {{ $ga := getJSON ($.Site.Params.netlifyFetch) }}
            {{with $ga}}
            {{range .}}
            <span class="font-bold text-pejGreen">{{.}}</span>
            {{end}}
            {{end}}
        </div>
        {{end}}
        {{with .Params.BlogInfo}}
        <div class="my-6">
            <p class="font-bold text-gray-500 uppercase my-0">About this blog</p>
            {{.}}
            {{end}}
        </div>
        {{with .Params.sidebarLinks}}
        <div class="my-6">
            <ul>
                <li class="font-bold text-gray-500 uppercase">Useful links</li>
                {{range . }}
                <li class="py-1">
                    <a class="no-underline hover:underline" href="{{.url}}">{{.title}}</a>
                </li>
                {{end}}
            </ul>
        </div>
        {{end}}
        {{end}}
    </div>
</div>